aiogram==3.20.0.post0
aiohttp==3.11.10
beanie==1.29.0
dnspython==2.7.0
environs==14.1.1
fastapi==0.115.12
flet==0.28.2
icecream==2.1.3
pydantic==2.11.4
pydantic_core==2.34.1
segno==1.6.6
uvicorn==0.34.2
fastapi[standard]
flet_desktop
qrcode-artistic